@import "../../assets/styles/mixin";

.course-management {
  $width: 1216px;

  padding: 16px;
  @include flex(center, center);
  flex-direction: column;
  background-color: rgd(0,0,0,0.1);

  &-title {
    width: $width;
    padding: 8px 0 16px;
    display: flex;
    @include flex(space-between, center);
  }

  &-body {
    width: $width;
    display: flex;
    flex-wrap: wrap;
    
    &-item {
      cursor: pointer;
      @include flex(flex-start, flex-start);
      flex-direction: column;
      border-radius: 6px;
      width: 218px;
      padding: 16px;
      margin: 23px 8px;
      box-shadow: rgb(243,247,255) 0 0 32px 0;
      background-color: rgb(255, 255, 255);

      &-cover {
        width: 186px;
        height: 80px;
        border-radius: 3px;
      }

      &-title {
        margin-top: 12px;
        font-size: 16px;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-teacher {
        color: #999;
      }

      &-price{
        margin-top: 12px;
        color: #f15f14;
      }
    }
  }
}
