.register_wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(235, 247, 250);
  font-family: PingFang SC-Medium, PingFang SC;

  .form_wrap {
    width: 560px;
    background: #fff;
    border-radius: 0px 8px 8px 0px;

    .register_form {
      padding: 70px;

      .register_title {
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        color: #c7c3c3;
        padding-bottom: 56px;
      }
    }
  }
}